<%- include('partials/header')-%>
<div class="container mt-5 w-50">
    <h2 class="mb-4"> Tambah karyawan baru</h2>
    <form action="/employee/new" method="POST">
        <input type="text" name="name" class="form-control mb-2" placeholder="Nama">
        <input type="text" name="salary" class="form-control mb-2" placeholder="gaji">
        <input type="text" name="position" class="form-control mb-2" placeholder="posisi">

        <button type="submit" class="btn btn-info btn-block mt-3"> Add</button>
    </form>
</div>
<%- include('partials/footer')-%>