#head{
    margin-top: 5px;
}
.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card{
    margin-left: 12.5%;
}
.card-img{
    height:24rem;
}

#sh{
    margin-top: 3rem;
    margin-left: 12.5%;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}